@import url('https://fonts.cdnfonts.com/css/sf-pro-display?styles=98774,98773,98770');

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'SF Pro Display', sans-serif;
    font-weight: 100;
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}

.menu {
    position: fixed;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 19px 16px;
    background-color: #232323;
    width: 100%;
    z-index: 4;
}

#btnFecharMenuLateral {
    width: 20px;
    height: 20px;
    background-color: #878787;
    color: #232323;
    font-size: 10px;
    border-radius: 5px;
}

#btnFecharMenuLateral:hover {
    background-color: #c7c7c7;
}

.usuarioMenu {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 30px 0;
    gap: 15px;
}

.fotoUsuario {
    padding-left: 2px;
}

.quadrado1,
.quadrado2 {
    width: 68px;
    height: 68px;
    border-radius: 8px;
}

.quadrado1 {
    background-color: #B3B3B3;
    position: relative;
}

.quadrado2 {
    border: 1px solid #EEFF49;
    position: absolute;
    top: 75px;
    transform: rotate(-15deg);
}

.saudacao {
    font-size: 14px;
    color: #FFFFFF;
}

.nomeDestaque {
    font-size: 18px;
    color: #EEFF49;
    font-weight: bold;
}

.menuLateral {
    position: fixed;
    top: 0;
    left: 0;
    width: 269px;
    height: 100%;
    background-color: #FFFFFF;
    z-index: 5;
    overflow-y: scroll;
}

.menuLateral ul {
    list-style: none;
}

.menuLateral ul li {
    display: block;
    padding: 0 16px;
}

.menuLateral ul li p {
    transition: background 0.3s;
    display: block;
    font-size: 18px;
    line-height: 27px;
    text-decoration: none;
    padding: 36px 0;
}

.effect {
    transition: margin 0.4s;
}

.parte-menu-1 {
    background-color: #232323;
    padding: 24px 16px;
    color: #FFFFFF;
}

.parte-menu-2 {
    background-color: #343434;
    color: #FFFFFF;
}

.parte-menu-3 {
    background-color: #464646;
    color: #FFFFFF;
}

.parte-menu-4 {
    background-color: #5A5A5A;
    color: #FFFFFF;
}

.parte-menu-5 {
    background-color: #7C7C7C;
    color: #FFFFFF;
}

.parte-menu-6 {
    background-color: #AEAEAE;
    color: #232323;
}

.parte-menu-7 {
    background-color: #D2D2D2;
    color: #232323;
}

.parte-menu-8 {
    color: #828282;
}

.logo {
    padding-left: 40px;
}

.pesquisar-carrinho {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 13px;
}

/* MAIN */

.principal {
    padding-top: 68px;
}

/* BANNER HOME PRINCIPAL */

.slider {
    display: block;
    height: 560px;
    width: 375px;
    margin: auto;
    position: relative;
}

.slider li {
    list-style: none;
    position: absolute;

}

.slider img {
    margin: auto;
    height: 100%;
    width: 100%;
    vertical-align: top;
}

.slider input {
    display: none;
}

.slider label {
    position: absolute;
    display: block;
    cursor: pointer;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    bottom: 10px;
    z-index: 3;
    background-color: #232323;
}

.slider li:nth-child(1) label {
    left: 10px;
}

.slider li:nth-child(2) label {
    left: 40px;
}

.slider li:nth-child(3) label {
    left: 70px;
}

.slider img {
    opacity: 0;
    visibility: hidden;
}

.slider li input:checked~img {
    opacity: 1;
    visibility: visible;
    z-index: 2;
}

.banner {
    width: 375px;
}

/* DEPARTAMENTOS */

.departamento {
    max-height: 163px;
}

.grupo-departamentos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 24px 16px;
    margin-top: 32px;
}


.legenda-departamento,
.texto-banner-central {
    line-height: 0;
    position: relative;
    color: #FFFFFF;

}

.legenda-departamento {
    bottom: 82px;
    font-size: 14px;
    text-align: center;
}

/* PRODUTOS VIEW */

.produtos-view {
    margin-bottom: 30px;
    margin-top: 32px;
}

.slider-produto {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 12px;
    overflow-x: scroll;
    padding: 0 16px;
}

.slider-produto::-webkit-scrollbar,
.slider-footer-topo::-webkit-scrollbar {
    display: none;
}

.titulo-section {
    font-size: 20px;
    font-weight: lighter;
    margin: 0 16px 13px 16px;
}

.produto {
    padding: 24px;
    color: #FFFFFF;
    min-width: 269px;
    height: 403px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.produto-top {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.nome-produto {
    font-size: 14px;
    width: 133px;
}

.produto-valor {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    font-size: 16px;
}

.valor-normal {
    text-decoration: line-through;
}

.valor-desconto {
    color: #EEFF49;
    font-weight: bold;
}

.produto-bottom,
.produto-bottom-lancamento {
    display: flex;
    flex-direction: row;
}

.produto-bottom-lancamento {
    justify-content: space-between;
}

.produto-bottom {
    justify-content: flex-end;
}

.produto-lancamento {
    color: #232323;
    font-size: 12px;
    line-height: 18px;
    background-color: #EEFF49;
    padding: 2px 8px;
}

.cafe-medio {
    background-image: url('../img/Imagem-home-produto-1.png');
}

.cafe-grande {
    background-image: url('../img/Imagem-home-produto-2.png');
}

.cafe-pequeno {
    background-image: url('../img/Imagem-home-produto-3.png');
}

/* BANNER CENTRAL */

.banner-central {
    display: flex;
    flex-direction: column;
    gap: 0;
}

.banner-central img {
    min-height: 320px;
    max-width: max-content;
}

.texto-banner-central {
    bottom: 147px;
    font-size: 18px;
    text-align: right;
    right: 16px;
    text-decoration: underline;
}

/* FOOTER */

.slider-footer {
    display: flex;
    flex-direction: column;
    background-color: #F8F8F8;
    color: #8A8A8A;
    padding-top: 24px;
    height: 82px;
}

.slider-footer-topo,
.slide-footer-group,
.vtexbywecode,
.slide-footer-info {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.slider-footer-topo {
    overflow-x: auto;
    padding: 0 40px 0 50px;
    gap: 150px;
}

.slide-footer-group {
    justify-content: center;
    gap: 64px;
}

.slide-footer-info {
    min-width: 115px;
    gap: 6px;
    font-size: 12px;
}

.slide-footer-label-group {
    height: 20px;
    display: block;
    align-items: center;
}

.slide-footer-label-bola {
    background-color: #8A8A8A;
    width: 6px;
    height: 6px;

}

/* SEÇÃO PRINCIPAL DO FOOTER */

.principal-footer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 56px;
    background-color: #232323;
    color: #FFFFFF;
    padding: 56px 16px;
}

.logo-wecode-footer {
    height: 40px;
    width: fit-content;
}

.titulo-footer {
    display: inline-block;
    font-size: 20px;
    border-bottom: 1px solid #FFFFFF;
    font-weight: 100;
    padding-bottom: 5px;
    outline: none;
}

.footer-newsletter-text {
    margin: 12px 0 9px 0;
}

.enviar-email {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
}

.enviar-email input {
    width: 100%;
    height: 40px;
    padding: 13px;
}

.enviar-email input::-webkit-input-placeholder {
    color: #B7B7B7;
    font-size: 14px;
}

.enviar-email button {
    background-color: #EEFF49;
    width: 90px;
    height: 40px;
}

.icones-redes {
    margin-top: 22px;
    display: flex;
    gap: 24px;
}

.icone-rede-social {
    width: 24px;
}

/* MENU DE NÍVEIS FOOTER */

.gavetas ul li {
    list-style: none;
    line-height: 27px;
}

.gavetas ul li a {
    color: #FFFFFF;
    font-size: 18px;
    line-height: 27px;
    margin-bottom: 12px;
}

.gavetas ul li p.gaveta-link-plus {
    display: inline;
}

.gavetas ul ul {
    padding-left: 12px;
}

.gavetas ul li ul li a,
.gavetas ul li ul li p {
    display: block;
    color: #FFFFFF;
    font-size: 14px;
    line-height: 21px;
    margin-bottom: 12px;
}

.gaveta-link-minus {
    display: none;
}

.texto-link-aberto {
    text-decoration: underline;
}

.visivel-link {
    display: flex;
    justify-content: space-between;
}

.visivel-ul {
    display: block;
    transition: width 0.4s;
}

.invisivel {
    display: none;
}

.selos {
    font-size: 14px;
    color: #393939;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 119px;
    padding: 24px;
    gap: 8px;
}

.copyright {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #232323;
    color: #FFFFFF;
    font-size: 10px;
    padding: 24px 25px;
    gap: 12px;
}

.vtexbywecode {
    background-color: #142032;
    height: 42px;
    justify-content: center;
}