@import url('https://fonts.cdnfonts.com/css/sf-pro-display?styles=98774,98773,98770');

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'SF Pro Display', sans-serif;
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}

.menu {
    position: fixed;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 19px 16px;
    background-color: #232323;
    width: 100%;
    z-index: 4;
}

/* CACHORRISSE EXTREMA - RESOLVER!!!!! */
.logo {
    padding-left: 40px;
}

.pesquisar-carrinho {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 13px;
}

.principal {
    padding-top: 68px;
}

.slider {
    display: block;
    height: 560px;
    width: 375px;
    margin: auto;
    position: relative;
}

.slider li {
    list-style: none;
    position: absolute;

}

.slider img {
    margin: auto;
    height: 100%;
    width: 100%;
    vertical-align: top;
}

.slider input {
    display: none;
}

.slider label {
    position: absolute;
    display: block;
    cursor: pointer;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    bottom: 10px;
    z-index: 10;
    background-color: #232323;
}

.slider li:nth-child(1) label {
    left: 10px;
}

.slider li:nth-child(2) label {
    left: 40px;
}

.slider li:nth-child(3) label {
    left: 70px;
}

.slider img {
    opacity: 0;
    visibility: hidden;
}

.slider li input:checked~img {
    opacity: 1;
    visibility: visible;
    z-index: 3;
}

.banner {
    width: 375px;
}

.grupo-departamentos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0 16px;
    margin-top: 32px;
}


.legenda-departamento {
    font-size: 14px;
    line-height: 21px;
    position: relative;
    bottom: 92px;
    left: 35px;
    color: #FFFFFF;
    max-width: fit-content;
    text-align: center;
}