@import url('https://fonts.cdnfonts.com/css/sf-pro-display?styles=98774,98773,98770');

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'SF Pro Display', sans-serif;
    font-weight: 100;
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}

a {
    color: #FFFFFF;
}

button:focus,
input:focus,
a:focus {
    outline: 0;
}

.menu {
    position: fixed;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 19px 16px;
    background-color: #232323;
    width: 100%;
    z-index: 4;
}

#btn-fechar-menu-lateral {
    width: 20px;
    height: 20px;
    background-color: #878787;
    color: #232323;
    font-size: 10px;
    border-radius: 5px;
}

#btn-fechar-menu-lateral:hover {
    background-color: #c7c7c7;
}

.usuario-menu {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 30px 0;
    gap: 15px;
}

.foto-usuario {
    padding-left: 2px;
}

.quadrado-1,
.quadrado-2 {
    width: 68px;
    height: 68px;
    border-radius: 8px;
}

.quadrado-1 {
    background-color: #B3B3B3;
    position: relative;
}

.quadrado-2 {
    border: 1px solid #EEFF49;
    position: absolute;
    top: 75px;
    transform: rotate(-15deg);
}

.saudacao {
    font-size: 14px;
    color: #FFFFFF;
}

.nome-destaque {
    font-size: 18px;
    color: #EEFF49;
    font-weight: bold;
}

.menu-lateral {
    position: fixed;
    top: 0;
    left: 0;
    width: 269px;
    height: 100%;
    background-color: #FFFFFF;
    z-index: 5;
    overflow-y: scroll;
}

.menu-lateral ul {
    list-style: none;
}

.menu-lateral ul li {
    display: block;
    padding-left: 24px;
}

.menu-lateral ul li a {
    display: block;
    font-size: 18px;
    line-height: 27px;
}

.menu-lateral ul ul {
    padding-top: 18px;
}

.effect {
    transition: margin 0.4s;
}

.parte-menu-1,
.parte-menu-2,
.parte-menu-3,
.parte-menu-4,
.parte-menu-5 {
    color: #FFFFFF;
}

.parte-menu-6,
.parte-menu-7 {
    color: #232323;
}

.parte-menu-2,
.parte-menu-3,
.parte-menu-4,
.parte-menu-5,
.parte-menu-6,
.parte-menu-7,
.parte-menu-8 {
    padding: 36px 16px;
    font-size: 18px;
}

.parte-menu-1 {
    background-color: #232323;
    padding: 24px 16px;
}

.parte-menu-2 {
    background-color: #343434;
}

.parte-menu-3 {
    background-color: #464646;
}

.parte-menu-4 {
    background-color: #5A5A5A;
}

.parte-menu-5 {
    background-color: #7C7C7C;
}

.parte-menu-6 {
    background-color: #AEAEAE;
}

.parte-menu-7 {
    background-color: #D2D2D2;
}

.parte-menu-8 {
    color: #828282;
}

/* MENU DE NÍVEIS DEPARTAMENTOS  */

.parte-menu a {
    font-size: 14px;
    line-height: 21px;
}

#elementos-gaveta-departamento-2,
#elementos-gaveta-departamento-3,
#elementos-gaveta-departamento-4,
#elementos-gaveta-departamento-5,
#elementos-gaveta-departamento-6,
#elementos-gaveta-departamento-7,
#elementos-gaveta-sobre,
#elementos-gaveta-conta,
#elementos-gaveta-politicas,
#elementos-gaveta-contato {
    display: none;
}

#elementos-gaveta-departamento-2.ul-ativo,
#elementos-gaveta-departamento-3.ul-ativo,
#elementos-gaveta-departamento-4.ul-ativo,
#elementos-gaveta-departamento-5.ul-ativo,
#elementos-gaveta-departamento-6.ul-ativo,
#elementos-gaveta-departamento-7.ul-ativo,
#elementos-gaveta-sobre.ul-ativo,
#elementos-gaveta-conta.ul-ativo,
#elementos-gaveta-contato.ul-ativo,
#elementos-gaveta-politicas.ul-ativo {
    display: block;
}

#elementos-gaveta-departamento-2.ul-ativo li a,
#elementos-gaveta-departamento-3.ul-ativo li a,
#elementos-gaveta-departamento-4.ul-ativo li a,
#elementos-gaveta-departamento-5.ul-ativo li a,
#elementos-gaveta-departamento-6.ul-ativo li a,
#elementos-gaveta-departamento-7.ul-ativo li a {
    color: #232323;
    font-size: 14px;
}

.li-ativo {
    background-color: #EEFF49;
    transition: 0.4s;
}

.link-ativo {
    text-decoration: underline;
    color: #232323;
}

.logo {
    padding-left: 40px;
}

.pesquisar-carrinho {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 13px;
}

.menu-pesquisa {
    display: none;
    position: absolute;
    top: 64px;
    right: 0;
    width: 375px;
    height: 64px;
    background-color: #232323;
    padding: 16px;

}

.menu-pesquisa input {
    width: 100%;
    height: 100%;
    border-radius: 4px;
    padding: 6px;
}

.menu-pesquisa.menu-pesquisa-ativo {
    display: block;
    transition: 0.4s;
}

.btn-fechar-pesquisa {
    position: absolute;
    right: 30px;
    top: 25px;
    font-size: 10px;
    background-color: #FFFFFF;
    color: #828282;
}

/* BANNER HOME PRINCIPAL */

.slider-topo {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 0;
    overflow-x: scroll;
    padding-top: 63px;
}

.slider-topo-radio-group,
.slider-footer-radio-group {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.slider-topo-radio-group {
    position: relative;
    line-height: 0;
    bottom: 30px;
    gap: 8px;
}

.slider-topo-radio-group label,
.slider-footer-radio-group label {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.radio-btn {
    height: 8px;
    width: 8px;
    border-radius: 50%;
    border: 0;
    display: block;
}

.banner-slider-topo-radio,
.banner-slider-footer-radio {
    position: absolute;
    opacity: 0;
    height: 0;
    width: 0;
}

input[type="radio"]+label .radio-btn {
    background: radial-gradient(circle, #d9d9d966 100%, transparent 0%);
}

input[type="radio"]:checked+label .radio-btn {
    background: radial-gradient(circle, #eaeaeae6 100%, transparent 0);
}

/* DEPARTAMENTOS */

.departamento {
    max-height: 163px;
}

.departamento:hover,
.produto:hover {
    box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
    transition: 0.3s;
}

.grupo-departamentos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 24px 16px;
    margin-top: 32px;
}

.legenda-departamento {
    line-height: 0;
    position: relative;
    color: #FFFFFF;
}

.legenda-departamento {
    bottom: 82px;
    font-size: 14px;
    text-align: center;
}

/* PRODUTOS VIEW */

.produtos-view {
    padding-bottom: 30px;
    margin-top: 32px;
}

.slider-produto {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 12px;
    overflow-x: scroll;
    padding: 0 16px;
}

.slider-produto::-webkit-scrollbar,
.slider-footer-topo::-webkit-scrollbar,
.menu-lateral::-webkit-scrollbar,
.slider-topo::-webkit-scrollbar {
    display: none;
}

.titulo-section {
    font-size: 20px;
    font-weight: lighter;
    margin: 0 16px 13px 16px;
}

.produto {
    padding: 24px;
    color: #FFFFFF;
    min-width: 269px;
    height: 403px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.produto-top {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.nome-produto {
    font-size: 14px;
    width: 133px;
}

.produto-valor {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    font-size: 16px;
}

.valor-normal {
    text-decoration: line-through;
}

.valor-desconto {
    color: #EEFF49;
    font-weight: bold;
}

.produto-bottom,
.produto-bottom-lancamento {
    display: flex;
    flex-direction: row;
}

.produto-bottom-lancamento {
    justify-content: space-between;
}

.produto-bottom {
    justify-content: flex-end;
}

.produto-lancamento {
    color: #232323;
    font-size: 12px;
    line-height: 18px;
    background-color: #EEFF49;
    padding: 2px 8px;
}

.produto-lancamento:hover {
    box-shadow: 0 4px 15px 0 rgba(100, 100, 100, 0.8), 0 6px 20px 0 rgba(100, 100, 100, 0.3);
    transition: 0.3s;
}

.produto-carrinho-add:hover {
    box-shadow: 0 4px 15px 0 rgba(100, 100, 100, 0.8), 0 6px 20px 0 rgba(100, 100, 100, 0.3);
    transition: 0.3s;
}

.cafe-medio {
    background-image: url('../img/Imagem-home-produto-1.png');
}

.cafe-grande {
    background-image: url('../img/Imagem-home-produto-2.png');
}

.cafe-pequeno {
    background-image: url('../img/Imagem-home-produto-3.png');
}

/* BANNER CENTRAL */

.banner-central {
    display: flex;
    flex-direction: column;
    gap: 0;
}

.banner-central-group-1,
.banner-central-group-2 {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    padding: 16px;
    width: 100% auto;
    height: 320px;
    background-repeat: no-repeat;
    background-size: 100%;
}

.banner-central-group-1 {
    background-image: url('../img/Banner-home-corpo-1.png');

}

.banner-central-group-2 {
    background-image: url('../img/Banner-home-corpo-2.png');
}

.texto-banner-central {
    font-size: 18px;
    text-decoration: underline;
}

/* FOOTER */

.slider-footer {
    display: flex;
    flex-direction: column;
    background-color: #F8F8F8;
    color: #8A8A8A;
    padding-top: 24px;
    height: 82px;
}

.slider-footer-topo,
.slide-footer-group,
.vtexbywecode,
.slide-footer-info {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.slider-footer-topo {
    overflow-x: auto;
    padding: 0 40px 0 50px;
    gap: 150px;
}

.slide-footer-group {
    justify-content: center;
    gap: 64px;
}

.slide-footer-info {
    min-width: 115px;
    gap: 6px;
    font-size: 12px;
}

.slider-footer-radio-group {
    gap: 4px;
    align-items: center;
    padding: 12px;
}

.radio-btn-footer {
    height: 6px;
    width: 6px;
    border-radius: 50%;
    border: 0;
    display: block;
}

input[type="radio"]+label .radio-btn-footer {
    background: radial-gradient(circle, #E2E2E2 100%, transparent 0%);
}

input[type="radio"]:checked+label .radio-btn-footer {
    background: radial-gradient(circle, #8A8A8A 100%, transparent 0);
}

/* SEÇÃO PRINCIPAL DO FOOTER */

.principal-footer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 56px;
    background-color: #232323;
    color: #FFFFFF;
    padding: 56px 16px;
}

.logo-wecode-footer {
    height: 40px;
    width: fit-content;
}

.titulo-footer {
    display: inline-block;
    font-size: 20px;
    border-bottom: 1px solid #FFFFFF;
    font-weight: 100;
    padding-bottom: 5px;
    outline: none;
}

.footer-newsletter-text {
    margin: 12px 0 9px 0;
}

.enviar-email {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
}

.enviar-email input {
    width: 100%;
    height: 40px;
    padding: 13px;
}

.enviar-email input:focus {
    border: 4px solid #EEFF49;
    transition: border 0.3s;
}

.enviar-email input::-webkit-input-placeholder {
    color: #B7B7B7;
    font-size: 14px;
}

.enviar-email button {
    background-color: #EEFF49;
    width: 90px;
    height: 40px;
    padding: 12px 34px;
}

.enviar-email button:hover {
    box-shadow: 0 4px 15px 0 rgba(167, 167, 167, 0.2), 0 6px 20px 0 rgba(167, 167, 167, 0.1);
    transition: 0.3s;
}

.icones-redes {
    margin-top: 22px;
    display: flex;
    gap: 24px;
}

.icone-rede-social {
    width: 24px;
}

.icone-rede-social:hover {
    box-shadow: 0 4px 15px 0 rgba(95, 95, 95, 0.5), 0 6px 20px 0 rgba(95, 95, 95, 0.4);
    transition: 0.3s;
}

/* MENU DE NÍVEIS FOOTER */

.gavetas ul li {
    list-style: none;
    line-height: 27px;
}

.gavetas ul li a {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: #FFFFFF;
    font-size: 18px;
    line-height: 27px;
    margin-bottom: 12px;
}

.gavetas ul ul {
    padding-left: 12px;
}

.gavetas ul li ul li a,
.gavetas ul li ul li p {
    display: block;
    color: #FFFFFF;
    font-size: 14px;
    line-height: 21px;
    margin-bottom: 12px;
}

.link-ativo-footer :nth-child(1) {
    color: #FFFFFF;
    text-decoration: underline;
}

.selos {
    font-size: 14px;
    color: #393939;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 119px;
    padding: 24px;
    gap: 8px;
}

.copyright {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #232323;
    color: #FFFFFF;
    font-size: 10px;
    padding: 24px 25px;
    gap: 12px;
}

.vtexbywecode {
    background-color: #142032;
    height: 42px;
    justify-content: center;
}